CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_widora_mangopi-m28k=y
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BPF_TOOLCHAIN_HOST=y
CONFIG_BPF_TOOLCHAIN_HOST_PATH="/opt/clang/bin"
# CONFIG_BPF_TOOLCHAIN_NONE is not set
CONFIG_BUSYBOX_CONFIG_ASH_HELP=y
CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING_HISTORY=1024
CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING_SAVEHISTORY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PREFER_IPV4_ADDRESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SH_HISTFILESIZE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOG_INFO=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=4
CONFIG_DWARVES=y
CONFIG_EXTRA_OPTIMIZATION=""
# CONFIG_GCC_USE_VERSION_13 is not set
CONFIG_GCC_USE_VERSION_15=y
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_ARM_PMU=y
CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_KERNEL_CC="ccache clang"
CONFIG_KERNEL_CFLAGS="-march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_DEBUG_INFO_BTF_MODULES=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_FTRACE=y
CONFIG_KERNEL_KPROBES=y
CONFIG_KERNEL_KPROBE_EVENTS=y
CONFIG_KERNEL_LRNG=y
CONFIG_KERNEL_PERF_EVENTS=y
# CONFIG_KERNEL_WERROR is not set
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_LIBCURL_DICT=y
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_NGHTTP3=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_OPENSSL_QUIC=y
CONFIG_LIBCURL_SSH2=y
CONFIG_LIBCURL_TELNET=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_ZLIB=y
CONFIG_LIBCURL_ZSTD=y
CONFIG_LIBSSH2_OPENSSL=y
# CONFIG_LUA_ECO_MBEDTLS is not set
CONFIG_LUA_ECO_OPENSSL=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bash-completion=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_boltbrowser=y
CONFIG_PACKAGE_btop=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-dircolors=y
CONFIG_PACKAGE_cpufreq=y
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts-services is not set
CONFIG_PACKAGE_dnsmasq_full_broken_rtc=y
# CONFIG_PACKAGE_etherwake is not set
# CONFIG_PACKAGE_firewall is not set
CONFIG_PACKAGE_firewall4=y
# CONFIG_PACKAGE_haveged is not set
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_htop is not set
CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_ipset is not set
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
# CONFIG_PACKAGE_iptables-mod-extra is not set
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-nfqueue=y
# CONFIG_PACKAGE_iptables-mod-tproxy is not set
CONFIG_PACKAGE_iptables-nft=y
# CONFIG_PACKAGE_iwinfo is not set
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-arc4=y
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-geniv=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha3=y
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-crypto-xxhash=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
# CONFIG_PACKAGE_kmod-ipt-extra is not set
CONFIG_PACKAGE_kmod-ipt-ipopt=y
# CONFIG_PACKAGE_kmod-ipt-ipset is not set
CONFIG_PACKAGE_kmod-ipt-nfqueue=y
# CONFIG_PACKAGE_kmod-ipt-raw is not set
# CONFIG_PACKAGE_kmod-ipt-tproxy is not set
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_kmod-lib-lz4-decompress=y
CONFIG_PACKAGE_kmod-lib-lz4hc=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-xxhash=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-nf-conncount=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-nat=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-tcp-bbr3=y
CONFIG_PACKAGE_kmod-tcp-brutal=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
CONFIG_PACKAGE_kmod-zram=y
# CONFIG_PACKAGE_knot-resolver_dnstap is not set
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libgd=y
# CONFIG_PACKAGE_libhavege is not set
# CONFIG_PACKAGE_libip4tc is not set
CONFIG_PACKAGE_libiperf3=y
# CONFIG_PACKAGE_libipset is not set
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_liblzo=y
# CONFIG_PACKAGE_libmbedtls is not set
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libnghttp3=y
CONFIG_PACKAGE_libngtcp2=y
# CONFIG_PACKAGE_libopenssl-legacy is not set
CONFIG_PACKAGE_libparted=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libssh2=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_lsblk=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-netspeedtest=y
CONFIG_PACKAGE_luci-app-nikki=y
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_luci-app-upnp is not set
CONFIG_PACKAGE_luci-app-vnstat2=y
CONFIG_PACKAGE_luci-app-watchcat=y
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
CONFIG_PACKAGE_luci-i18n-netspeedtest-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=y
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vnstat2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
# CONFIG_PACKAGE_luci-lib-chartjs is not set
# CONFIG_PACKAGE_miniupnpd-nftables is not set
CONFIG_PACKAGE_mmc-utils=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_nikki=y
# CONFIG_PACKAGE_nlbwmon is not set
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_procps-ng=y
CONFIG_PACKAGE_procps-ng-free=y
CONFIG_PACKAGE_procps-ng-kill=y
CONFIG_PACKAGE_procps-ng-pgrep=y
CONFIG_PACKAGE_procps-ng-pkill=y
CONFIG_PACKAGE_procps-ng-ps=y
CONFIG_PACKAGE_procps-ng-top=y
CONFIG_PACKAGE_procps-ng-uptime=y
CONFIG_PACKAGE_procps-ng-watch=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_speedtest-cli=y
CONFIG_PACKAGE_speedtest-ex=y
CONFIG_PACKAGE_sqm-scripts=y
CONFIG_PACKAGE_swap-utils=y
CONFIG_PACKAGE_tailscale=y
CONFIG_PACKAGE_taskset=y
CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_tcpdump=y
# CONFIG_PACKAGE_ucode-mod-nl80211 is not set
# CONFIG_PACKAGE_ucode-mod-rtnl is not set
# CONFIG_PACKAGE_ucode-mod-uloop is not set
# CONFIG_PACKAGE_urandom-seed is not set
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
CONFIG_PACKAGE_vnstat2=y
CONFIG_PACKAGE_vnstati2=y
CONFIG_PACKAGE_watchcat=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_whereis=y
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_PACKAGE_yq=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PARTED_READLINE=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_RTREE=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=944
CONFIG_USE_GC_SECTIONS=y
CONFIG_USE_LLVM_HOST=y
CONFIG_USE_LTO=y
CONFIG_USE_MOLD=y
CONFIG_ZRAM_DEF_COMP_LZ4=y
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_PACKAGE_getrandom=y
CONFIG_PACKAGE_libcap-ng=y
# CONFIG_PACKAGE_libcap-ng-bin is not set
